[user]
	email = me@jacobejenkins.com
	name = Jacob Jenkins
[core]
	editor = vim
	excludesfile = /Users/jacob/.gitignore-global
[init]
	templatedir = /Users/jacob/.git-templates
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	rs = !git fetch && git reset --hard origin/master
[http]
	postBuffer = 524288000
[push]
	default = simple
